<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">

<suite name="TestAll">
   <test name="SeleniumSearch">
        <classes>
             <class name="GoogleSearchTest"/>
                <methods>
                     <include name="testGoogleSearch" />
                </methods>
        </classes>
    </test>
    <test name="TestNGSearch">
        <classes>
            <class name="GoogleSearchTest"/>
            <methods>
                <include name="testNGGoogleSearch" />
            </methods>
        </classes>
    </test>
</suite>